body {
    background: var(--dark-color);
}

#main {
    height: 100vh;
}

#movies {
    display: flex;
    flex-direction: row;    
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.movie {
    display: flex;
    flex-direction: row;
}   

h2 {
    color: var(--light-color);
    text-align: center;
    padding: 1rem;
    border-bottom: #7289da86 1px solid;
}

.resize {
    width: 15rem;
    height: auto;
}

div.movie {
    padding: 1rem;
}

#info-box {
    opacity: 0;
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 2rem;
    border: 3px solid #3d3d3d;
    border-radius: 12px;
    background-color: rgba(255,255,255,.1);
    margin: 0 0 0 1rem;
    height: 20rem;
    -webkit-transition: opacity 1s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}

#info-box #misc {
    display: flex;
    flex-direction: column;
    align-content: center;
}

#info-box img {
    width: 10rem;
    height: auto;
}

#info-box p {
    text-align: center;
    padding: 1rem;
    padding-top: 0;
}

#info-box #movie-rating {
    align-self: center;
    color: var(--primary-color);
}

footer {
    background-color: black;
}

@media (max-width: 1280px) {
    section#info-box {
        margin: 0;
    }
    
    #movies {
        flex-direction: column;
    }
}

